.App {
  text-align: center;
}

.List {
  display: flex;
  margin: 0rem auto;
  width: 50rem;
  align-items: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.233);
  padding: 1rem;
  justify-content: space-between;
}

.List img {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
}

.List-note {
  width: 30%;
  text-align: left;
}

.List-header {
  display: flex;
  align-items: center;
  width: 30%;
}

.List-header h2{
  color: rgb(37, 36, 36)
}

.AddToList {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto
}

.AddToList-input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.3rem 0rem
}

.AddToList-btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #0b5468;
  font-weight: 700;
  color: white;
  border: none
}